body {
    color:grey;
    background-color:#0C63E7;
 }
  
 .content {
    padding:20px;
    background-color:#0A85ED;
    text-align:center;
    border-style:solid;
 }
   
 h1{
    text-align: center;
 }
 